<!DOCTYPE html>
<html>
  <title>Host Information Report</title>
  <style>
    table {
      font-family: Arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
  <body>
    <h1 id="top">Job Report for {{ hostvars['localhost']['date_str_pretty'] }}</h1>
    <hr>
    <table>
      <tr>
        <th>Total hosts</th>
        <th>Successful</th>
        <th>Failed</th>
      </tr>
      <tr>
        <td>{{ ansible_play_hosts_all|length }}</td>
        <td>{{ hostvars['localhost']['success_list']|length }}</td>
        <td>{{ hostvars['localhost']['failed_list']|length }}</td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <th>Host</th>
         <th>Status</th>
        <th>OS</th>
        <th>IP</th>
        <th>Docker containers</th>
      </tr>
      {% for h in ansible_play_hosts_all | sort %}
      <tr>
        <td>{{ h }}</td>
        {% if h in ansible_play_hosts %}
        <td>Success</td>
        <td>{{ hostvars[h]['ansible_distribution'] }} {{ hostvars[h]['ansible_distribution_version'] }}</td>
        <td>{{ hostvars[h]['ansible_default_ipv4']['address'] }}</td>
        <td><pre>{{ hostvars[h]['cmd1_results']['stdout']|d('no output')|trim }}</pre></td>
        {% else %}
        <td>Failed</td>
        <td>-</td>
        <td>-</td>
        <td><pre>-</pre></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {%- if hostvars['localhost']['failed_list']|length > 0 %}
    <p style="color:fuchsia;"><strong>Failed hosts:</strong> {{ hostvars['localhost']['failed_list']|join(',') }}</p>
    {%- endif %}
    <p><i>Generated by Seb Ansible playbook <strong>{{ playbook_dir }}/job_report_simple.yaml.</strong></i></p>
  </body>
  </html>
